.gamebox {
	width:200px;
	height:200px;
	overflow: hidden;
	margin-top:10px;
	margin-bottom:10px;
	float:left;
	margin-left:10px;
	margin-right:30px;
}

.gamebox p {
	background-color:white;
	margin-top:-60px;
	position: relative;
	z-index: 500;
	height:60px;
	border-top:1px solid black;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
}

.gamebox img {
	position: relative;
	z-index: 400;
	width:200px;
	height:200px;
	transition: 0.3s ease-in-out 0.03s;
	padding-bottom:0px;
}

.gamebox img:hover {
	padding-bottom:60px;
}