section {
	width:500px;
	min-height:200px;
	background-color: white;
	margin-top:10px;
	padding:10px 20px 20px 5px;
}

#language p {
	font-size: 12px;
	
}

#language a {
	text-decoration: none;
	color:#444444;
	background-color: #c2c3c4;
	border:3px solid #9d9d9d;
	padding:3px 6px 3px 6px;
}

#language a:hover {
	color:#25317b;
}